<div class="parent">
    <img src="/img/bg.jpg" alt="img" style="width: 100%" />
    <div class="text">
      <div class="simplehead">
        <h2>
          Serving the Social Work Profession, the Practitioner, and the
          PUBLIC....
        </h2>
      </div>
    </div>
  </div> 
 
 <!-- Our Reach Starts  -->
 <section class="reach">
    <div class="container">
      <h2 class="reachhead">OUR REACH :</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/img/uiet2.jpeg" alt="img1" /></div>
            <div class="img2">
              <img src="/img/uietlogo2.png" alt="img2" />
            </div>
            <div class="main-text">
              <h2>UIET</h2>
              <p>
                UIET with over 2500 Students is the largest Department with
                highest activity.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/img/Uils.jpg" alt="img1" /></div>
            <div class="img2">
              <img src="/img/uilslogo2.png" alt="img2" />
            </div>
            <div class="main-text">
              <h2>UILS</h2>
              <p>
                UILS with over 1000 Students is the most active Department.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="img1"><img src="/img/dental.png" alt="img1" /></div>
            <div class="img2">
              <img src="/img/dentallogo.jpg" alt="img2" />
            </div>
            <div class="main-text">
              <h2>UIDS</h2>
              <p>
                UIDS was recently added successfully, Awaaz was recieved with
                positive feedback.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Reach Ends  -->

  <!-- News & Feeds Starts  -->
  <section class="news">
    <div class="container mt-5">
      <h2 class="reachhead">News and Feeds:</h2>
      <div class="newscard">
        <div class="row">
          <div class="col-md-5">
            <div class="newsimg">
              <img src="/img/profile-2.jpeg" alt="img1" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="main-text">
              <h2>First Guy from UIET</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos unde nulla in, distinctio repellat, quas explicabo
                aspernatur numquam voluptatem exercitationem tempore et
                voluptate deserunt officiis repudiandae ratione vitae ducimus.
                Ipsum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="newscard">
        <div class="row">
          <div class="col-md-7">
            <div class="main-text">
              <h2>Second Guy from UILS</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos unde nulla in, distinctio repellat, quas explicabo
                aspernatur numquam voluptatem exercitationem tempore et
                voluptate deserunt officiis repudiandae ratione vitae ducimus.
                Ipsum.
              </p>
            </div>
          </div>
          <div class="col-md-5">
            <div class="newsimg">
              <img src="/img/profile-3.jpeg" alt="img1" />
            </div>
          </div>
        </div>
      </div>
      <br /><br />
      <div class="newscard">
        <div class="row">
          <div class="col-md-5">
            <div class="newsimg">
              <img src="/img/profile-4.jpeg" alt="img1" />
            </div>
          </div>
          <div class="col-md-7">
            <div class="main-text">
              <h2>Third Guy from UIDS</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Dignissimos unde nulla in, distinctio repellat, quas explicabo
                aspernatur numquam voluptatem exercitationem tempore et
                voluptate deserunt officiis repudiandae ratione vitae ducimus.
                Ipsum.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br /><br />
  </section>
  <!-- News & Feeds Ends  -->

  <!-- Success Stories Start  -->
  <section class="reach">
    <div class="container">
      <h2 class="reachhead">Success Stories :</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <div class="successimg">
              <img src="/img/profile-4.jpeg" alt="img2" />
            </div>
            <div class="main-text">
              <h2>Heading</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae
                possimus nam consequatur blanditiis quos fuga nostrum earum
                maxime recusandae corporis quidem eum, fugiat tempore nulla
                quasi exercitationem? Nulla mollitia culpa, commodi expedita
                sit voluptatum nemo, similique architecto natus, deleniti
                quia!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="successimg">
              <img src="/img/profile-2.jpeg" alt="img2" />
            </div>
            <div class="main-text">
              <h2>Heading</h2>
              <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                Dolorem veritatis pariatur repudiandae. Quas atque at ratione
                fuga nam, quaerat dolorem numquam doloribus alias aspernatur,
                repellat laborum assumenda tenetur deleniti, nulla nihil harum
                ipsam consequuntur repudiandae eum aut voluptates. Rem, nobis!
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="successimg">
              <img src="/img/profile-3.jpeg" alt="img2" />
            </div>
            <div class="main-text">
              <h2>Heading</h2>
              <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Itaque corporis at maxime! Aut aliquam quos repellat
                voluptatum, modi maxime ipsa commodi asperiores accusantium
                quidem. Veritatis quidem quam, nihil odit dicta ipsa, rem
                tempore, deserunt distinctio ex error consequuntur consequatur
                similique!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Success Stories Ends  -->